$item-height: 44px      !default;
$margin: 30px           !default;
$title-falg-w: 4px      !default;

.page__search-from {
    display: block;
    font-size: $main-fs - 2px;

    .search-form__item {
        position: relative;
        display: block;

        & > input {
            display: block;
            width: 100%;
            height: $item-height;
            padding: 8px 46px 8px 20px;
            outline: none;
            color: inherit;
            border: none;
            border-radius: $item-height / 2;
            appearance: none;
            background-color: rgba(164, 177, 191, 0.15);
            box-shadow: none;
            transition: box-shadow .3s;

            &:hover,
            &:focus {
                box-shadow: inset 0 0 0 2px $main-color--hover;
            }
        }

        & > i {
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
            font-size: 18px;
            color: $main-color--hover;
        }
    }
}

.page__sidebar {

}

.sidebar__img {
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 0 auto $margin;

    & > img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.sidebar__block {
    position: relative;
    display: block;
    width: 100%;

    .block__title {
        position: relative;
        color: $title-fc;
        font-size: $main-fs + 2px;
        padding-left: 20px - $title-falg-w;
        margin: $margin auto $margin - 10px;
        font-weight: 400;
        height: 20px;
        line-height: 20px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: $title-falg-w;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background: $main-color;
            background: linear-gradient(to bottom, $main-color 35%, $main-color--hover 100%) left center no-repeat;
            background-size: 100%;
        }
    }

    .block__text {
        margin: 0;
        padding-left: 20px - $title-falg-w;
    }

    .block-list {
        margin: 0;
        margin-top: $margin;
        padding: 0;
        padding-left: 20px - $title-falg-w;
        width: 100%;
        color: $title-fc;
    }

    .block-list-item {
        list-style: none;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px dotted $border-c;

        & + .block-list-item {
            margin-top: 10px;
        }

        .block-list-link {
            @include link($main-color);
            color: $title-fc;
        }

        .block-list-count {
            margin-left: 5px;
            color: $main-color;

            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
        }
    }

    .tag-list {
        margin-top: -5px;
        margin-right: -10px;
    }

    .tag-item {
        float: left;
        list-style: none;
        margin-right: 10px;
        margin-top: 5px;
    }

    .tag-link {
        display: block;
        height: 34px;
        border: 2px solid #d8e5f3;
        border-radius: 34px;
        font-size: $main-fs - 2px;
        line-height: 34px - 5px * 2;
        color: $title-fc;
        padding: 4px 10px;
        text-decoration: none;
        transition: color $transition, border-color $transition;

        &:hover {
            color: $main-color;
            border-color: $main-color;
        }
    }

    .latest-post-list {

    }

    .latest-post-item {
        list-style: none;
        width: 100%;

        & + .latest-post-item {
            margin-top: 10px;
        }

        & > a {
            display: flex;
            align-items: center;
            width: 100%;
            text-decoration: none;
            color: $title-fc;

            &:hover {
                .item__title {
                    color: $main-color;
                }
            }
        }

        .item__cover {
            position: relative;
            display: block;
            width: 80px;
            height: 60px;
            overflow: hidden;

            & > img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                height: 100%;
            }
        }

        .item__info {
            display: block;
            width: calc(100% - 80px);
            padding: 8px 15px;
            line-height: 1.4;
        }

        .item__title {
            margin: 0;
            font-weight: 400;
            font-size: $main-fs;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: color $transition;
        }

        .item__text {
            font-size: $main-fs - 2px;
            color: $main-fc;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}