.js-open {
    display: block !important;
}

.js-hidden {
    display: none !important;
}

.js-ease-out-leave {
    transition: transform 1s ease-out, opacity 1s ease-out !important;
}

.js-ease-out-enter-active {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.js-ease-out-leave-active {
    transform: translateY(20px);
    opacity: 0;
}