.clearfix {
    *zoom: 1;

    &::after {
        content:'';
        display: table;
        clear: both;
    }
}

@mixin link($color, $dct: none) {
    font-size: inherit;
    text-decoration: $dct;
    transition: color $transition;

    &:hover {
        color: $color;
    }
}